[Unit]
Description=CI Status Light
After=network.target

[Service]
Type=simple
WorkingDirectory=[PATH_TO_DIRECTORY]/circle-ci-status-light/
ExecStart=[PATH_TO_DIRECTORY]/status_light.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
